<div class="container pe-0">
    <h2 class="mb-4 text-white">Products Management</h2>

    <div class="d-flex justify-content-between align-items-center mb-4 ">
        <a class="btn btn-light px-3" routerLink="/admin/add-product">
            <i class="fa-solid fa-plus me-2" ></i> Add Product
        </a>

        <div class="search-container d-flex" style="width: 28%;">
            <label for="search">
                <i class="fa-solid fa-magnifying-glass fs-3 px-2 py-2"
                    style="background-color: rgb(70, 70, 70); color: whitesmoke; border-radius: 10px;"></i>
            </label>
            <input type="text" id="search" class="form-control w-100" placeholder="Search products...">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-lg-3 mb-4" *ngFor="let product of products">
        <app-admin-one-product [product]="product" (delete)="onDeleteProduct($event)"
            (viewDetails)="onViewProduct($event)" (edit)="onEditProduct($event)">
        </app-admin-one-product>
    </div>
</div>


<!-- Pagination -->
<nav class="mt-2">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>