/* Add to your component's CSS or global styles */
.product-img {
    transition: all 0.3s ease;
    background-color: white;

}

.product-img:hover .product-action {
    opacity: 1;
}

.product-action {
    transition: all 0.3s ease;
    opacity: 0;
    top: 40%;
    /* background-color: transparent !important; */
}

img {
    transition: 0.3s;
}

img:hover {
    height: 260px;
    width: 210px;
    /* filter: blur(5px); */
}

.card-body {
    background-color: lightgrey;
}

.backdrop-filter-blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.z-index-1 {
    z-index: 1;
}