<!-- Start Header Area -->
<header class="header navbar-area">

  <!-- Start Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">

        <a routerLink="/home" class="text-decoration-none col-4">
          <div class="d-flex align-items-center">
            <a routerLink="/home">
              <img src="/Images/AnguShopLogoCpy.png" alt="AnguShop Logo" width="50" height="50" class="me-2">
            </a>
            <span class="brand-name text-white header0">AnguShop</span>
          </div>
        </a>

        <div class="col-lg-4 col-md-4 col-8 ms-auto text-end py-2">
          <div class="top-end">
            <ul class="user-login list-unstyled d-flex justify-content-center align-items-center gap-2">
              <!-- Display user info when logged in -->
              <li *ngIf="isLoggedIn">
                <div class="user mb-1">
                  Hello, {{ userName }}!
                </div>
              </li>


              <!-- Show Sign In and Register links when not logged in -->
              <li *ngIf="!isLoggedIn">
                <a routerLink="/login" href="login.html">Sign In</a>
              </li>
              <li *ngIf="!isLoggedIn">
                <a routerLink="/register" href="register.html">Register</a>
              </li>


              <div class="navbar-cart">
                <div class="wishlist" *ngIf="isLoggedIn">
                  <a routerLink="/wishList" href="javascript:void(0)" class="myico1" style="background-color: white;">
                    <i class="fa-solid fa-heart txtico1"></i>
                    <span class="total-items">{{ wishlistCount }}</span>
                  </a>
                </div>

                <div class="cart-items" *ngIf="isLoggedIn">
                  <a routerLink="/cart" href="javascript:void(0)" class="main-btn myico2"
                    style="background-color: white;">
                    <i class="fa-solid fa-cart-shopping txtico2"></i>
                    <span class="total-items">{{cartCount}}</span>
                  </a>
                </div>
              </div>



              <!-- Profile icon (only visible when logged in) -->
              <li *ngIf="isLoggedIn">
                <a routerLink="/profile" class="nav-link p-2 text-white">
                  <i class="fas fa-user fa-1x"></i>

                  <span class="text-white mx-2">Profile</span>

                </a>
              </li>

              <div>
                <button (click)="logout()" class="btn btn-sm ms-2 logout">Logout</button>
              </div>

            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- Start Header Bottom -->
  <div class="container py-2">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-6 col-12">
        <div class="nav-inner">

          <div class="mega-category-menu">
            <span class="cat-button"><i class="fa-solid fa-list"></i>All Categories</span>
            <ul class="sub-category">
              <li><a href="product-grids.html">Electronics <i class="fa-solid fa-angle-right"></i></a>
                <ul class="inner-sub-category">
                  <li><a href="product-grids.html">Digital Cameras</a></li>
                  <li><a href="product-grids.html">Camcorders</a></li>
                  <li><a href="product-grids.html">Camera Drones</a></li>
                  <li><a href="product-grids.html">Smart Watches</a></li>
                  <li><a href="product-grids.html">Headphones</a></li>
                  <li><a href="product-grids.html">MP3 Players</a></li>
                  <li><a href="product-grids.html">Microphones</a></li>
                  <li><a href="product-grids.html">Chargers</a></li>
                  <li><a href="product-grids.html">Batteries</a></li>
                  <li><a href="product-grids.html">Cables & Adapters</a></li>
                </ul>
              </li>
              <li><a href="product-grids.html">Accessories</a></li>
              <li><a href="product-grids.html">Televisions</a></li>
              <li><a href="product-grids.html">Best Selling</a></li>
              <li><a href="product-grids.html">Top 100 Offer</a></li>
              <li><a href="product-grids.html">Sunglass</a></li>
              <li><a href="product-grids.html">Watch</a></li>
            </ul>
          </div>


          <!-- Start Navbar -->
          <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul class="nav nav-pills d-flex gap-3 justify-content-center">
                <li class="nav-item">
                  <a class="nav-link text-dark" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/home">
                    <i class="fas fa-home me-2"></i>Home
                  </a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link text-dark" routerLinkActive="active-link" routerLink="/Categories">
                    <i class="fas fa-box-open me-2"></i>Categories
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" routerLinkActive="active-link" routerLink="/products">
                    <i class="fas fa-box-open me-2"></i>Products
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" routerLinkActive="active-link" routerLink="/contactus">
                    <i class="fas fa-info-circle me-2"></i>Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->

        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Nav Social -->
        <div class="nav-social">
          <h5 class="title">Follow Us:</h5>
          <ul>
            <li><a href="javascript:void(0)" class="my-ico"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="javascript:void(0)" class="my-ico"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="javascript:void(0)" class="my-ico"><i class="fa-brands fa-square-instagram"></i></a></li>
          </ul>
        </div>
        <!-- End Nav Social -->
      </div>
    </div>

  </div>

  <!-- End Header Bottom -->

</header>
<!-- End Header Area -->