.form-card {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(255, 250, 250, 0.2);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    max-width: 900px;
    margin: 0 7%;
    padding: 1.3rem 2.5rem;
}

.form-header {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    color: #f5f5f5;
}

label {
    color: #ccc;
    font-weight: 500;
}

.form-control {
    background-color: transparent;
    color: #eee;
    border: 1px solid #444;
    border-radius: 0.5rem;
}

.form-control:focus {
    border-color: #888;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}

.btn-custom {
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.btn-back {
    background-color: transparent;
    border: 1px solid #aaa;
    color: #aaa;
    transition: all 0.2s;
}

.btn-back:hover {
    background-color: #444;
    color: white;
}

.btn-save {
    background-color: #333;
    color: white;
    border: none;
    padding-right: 60px;
    padding-left: 60px;
}

.btn-save:hover {
    background-color: #555;
}

.text-danger {
    font-size: 0.85rem;
}